input[type="search"] {
  height: 64px !important; /* or height of nav */
}

body {
	background-color: #f5f5f5;
}

nav {
	background-color: #ff6f00 !important;
}

.custom-container {
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 40px;
}

.skor-title {
	font-size: 18px;
	color: #0d47a1 !important;
	margin-top: 15px !important;
	display: inline-block;
	/*margin-left: 2px !important;*/
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #0d47a1 !important;
}

.center {
	text-align: center;
	font-size: 72px;
}

.content {
	margin-top: 48px;
}

.custom-lable {
	width: 200px;
}

.card-title-custom {
	font-size: 18px;
    font-weight: 300;
}

.title-small {
	font-size: 18px;
}

.quest {
	margin-top: 16px !important;
}

 /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ff6f00;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ff6f00;
     box-shadow: 0 1px 0 0 #ff6f00;
   }

    /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #ff6f00;
}
/* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #ff6f00;
     box-shadow: 0 1px 0 0 #ff6f00;
   }

       /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #ff6f00;
}
/* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #ff6f00;
     box-shadow: 0 1px 0 0 #ff6f00;
   }

   .active {
   		color: #ff6f00 !important;
   }

.custom-top {
  border-top: 2px solid #ff6f00;
}

.kondisi {
  display: inline;
}

.up {
  margin-right: 24px;
}

.top-bg {
  background-color: #ff6f00;
  width: 100%;
  height: 500px;
}

.contact-bg {
  background-color: #fff;
  height: 650px;
  margin-top: 80px;
  padding: 24px 36px 36px 36px;
}

.contact-info {
  border-left: 2px solid #e65100;
  height: 590px;
  padding-top: 85px !important;
  padding-left: 36px !important;
}

.contact-header {
  font-size: 21px;
  color: #616161;
}

.contact-content {
  margin-top: 36px;
}

.contact-content i {
  vertical-align: middle;
  margin-right: 16px;
}

.c-content {
  color: #616161;
}

.divider {
  width: 36px;
  height: 2px;
  background-color: #ff6f00;
  margin-top: 2px;
  margin-bottom: 36px;
}

.grade-bg {
  width: 140px;
  height: 140px;
  padding: 16px;
}
